.theAnswers {
    margin: 20px;
    font-size: 30px;
    text-align: center;
}

h1 {
    font-family: 'Black Han Sans', sans-serif;
    font-size: 72px;
    text-align: center;
    margin-bottom: 50px;
    margin-top: 20px;
}

body {
    background-image: url(images/lightning.jpg);
}

.container {
    background-color: rgb(164, 205, 240);
    margin-top: 80px;
    
}

#startBtn {
    padding: 40px;
    margin: 40px 0px;
    font-size: 24px;
    
}

#timer {
    font-size: 24px;
    text-align: center;
}

#question {
    text-align: center;
    font-weight: bolder;
}

#unanswered {
    text-align: center;
}

i {
    color: yellow;
}